<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="/css/styles.css">

        <!-- ===== BOOTSTRAP ===== -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
        <!-- ===== JQUERY ===== -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
         integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
         crossorigin="anonymous"></script>

         <!-- ===== OTRAS LIBERÍAS DE BOOTSTRAP ===== -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
         integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
         crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
         integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
         crossorigin="anonymous"></script>
        <title>Conciliador</title>
    </head>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>

            <div class="header__img">
                <img src="/images/HUN.jpg" alt="">
            </div>
        </header>

        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="https://www.uninorte.edu.co/web/hospital" class="nav__logo">
                        <i class='bx bx-layer nav__logo-icon'></i>
                        <span class="nav__logo-name">
                            Hospital<br> 
                            Universidad del<br>
                            Norte
                        </span>
                    </a>
                   
                </div>
                <a href="#" onclick="logOut()" class="nav__link">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Cerrar sesión</span>
                </a>
            </nav>
        </div>
       
        <div class="container mt-5">
            <div class="row mt-5">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card border-primary">
                        <div class="card-body" style="width: 300px; height: 350px; margin: 30px;">
                            <form action="/aceptar/<%= datos.idpa %>" method="POST"> <!-- Se está mostrando un dato único, por eso se coloca como parámetro el id -->
                                <div class="mb-4" style="margin: 50px;">
                                    <label for="Name" class="form-label">Nombres del paciente</label>
                                    <input type="text" class="form-control" id="Name" name="Name" value="<%= datos.NombreP %>">
                                  </div>
                                  <div class="mb-4" style="margin: 50px">
                                    <label for="Lastname" class="form-label">Apellidos del paciente</label>
                                    <input type="text" class="form-control" id="Lastname" name="Lastname" value="<%= datos.ApellidoP %>">
                                  </div>  
                                  <div class="mb-4" style="margin: 50px">
                                    <label for="correo" class="form-label">Correo electrónico del paciente</label>
                                    <input type="text" class="form-control" id="correo" name="correo" value="<%= datos.Correo %>">
                                  </div>
                                  <div class="mb-4" style="margin: 50px">
                                    <label for="especialidad" class="form-label">Especialidad elegida</label>
                                    <input type="text" class="form-control" id="especialidad" name="especialidad" value="<%= datos.Especialidad %>">
                                  </div>  
                                  <div class="mb-4" style="margin: 50px">
                                    <label for="doctor" class="form-label">Médico elegido</label>
                                    <input type="text" class="form-control" id="doctor" name="doctor" value="<%= datos.Doctor %>">
                                  </div> 
                                  <div class="mb-4" style="margin: 50px">
                                    <label for="fechaI" class="form-label">Hora de inicio</label>
                                    <input type="text" class="form-control" id="fechaI" name="fechaI" value="<%= datos.FechaInicio %>">
                                  </div> 
                                  <div class="mb-4" style="margin: 50px">
                                    <label for="fechaF" class="form-label">Fecha de fin</label>
                                    <input type="text" class="form-control" id="fechaF" name="fechaF" value="<%= datos.FechaFin %>">
                                  </div>          
                                                             
                                <div class="form-group3 mt-5">
                                <button type="submit" class="btn btn-outline-primary btn-block">Enviar información</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <!--===== MAIN JS =====-->
        <script src="/js/main.js"></script>

    </body>
</html>