<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="https://genfavicon.com/tmp/icon_d1490e0ca97a4e19828ac691e5ef8be0.ico">

    <!-- ===== BOX ICONS ===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/css/styleConciliator.css">

    <!-- ===== BOOTSTRAP ===== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <!-- ===== DATATABLES ===== -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap4.min.css">

    <!-- ===== JQUERY ===== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <!-- ===== OTRAS LIBERÍAS DE BOOTSTRAP ===== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>Conciliador</title>
</head>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>

        <div class="header__img">
            <img src="/images/HUN.jpg" alt="">
        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="https://www.uninorte.edu.co/web/hospital" class="nav__logo">
                    <i class="bi bi-house nav__logo-icon"></i> 
                    <span class="nav__logo-name">
                        Hospital<br>
                        Universidad del<br>
                        Norte
                    </span>
                </a>
                <div class="nav__list">
                    <a href="/consultarCitas" class="nav__link">
                        <i class="bi bi-clipboard-check nav__icon"></i>
                        <span class="nav__name">Citas aceptadas</span>
                    </a>
                </div>
                <div class="nav__list">
                    <a href="/consultarExportarC" class="nav__link">
                        <i class="bi bi-file-earmark-excel nav__icon"></i>
                      <span class="nav__name">Exportar citas</span>
                    </a>
                  </div> 
            </div>

            <a href="#" onclick="logOut()" class="nav__link">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Cerrar sesión</span>
            </a>
        </nav>
    </div>

    <div class="container-fluid">

        <div class="col-md-12" style="margin-top: 80px;">
            <h4 class="title text-center mt-4">
                Hola <%=user.name%>
            </h4>
            <hr class="my-4">
            <div class="text-center mb-2">
                A continuación podrás revisar las citas médicas solicitadas por los usuarios hasta la fecha.
            </div>
            <table id="conTable" class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Hora de solicitud</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Género</th>
                        <th>Dirección de residencia</th>
                        <th>Correo electrónico</th>
                        <th>Celular</th>
                        <th>Celular de respaldo</th>
                        <th>Teléfono</th>
                        <th>Fecha de nacimiento</th>
                        <th>Tipo de identificación</th>
                        <th>Lugar de expedición</th>
                        <th>N° de identificación</th>
                        <th>Especialidad</th>
                        <th>Doctor</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Cita</th>
                        <th>Afiliación</th>
                        <th>Entidad</th>
                        <th>Régimen</th>
                        <th>Modalidad</th>
                        <th>Anexos</th> 
                        <th>Autorización</th> 
                        <th>Acompañante</th> 
                        <th>Riesgo epidemiológico</th>  
                        <th>Consultar solicitud</th>                        
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <% if (info) { %>
                            <!-- Es el nombre que se le dió a los datos obtenidos en el controller.list -->

                            <% for(var i=0; i < info.length; i++) { %>

                                <td>
                                    <%= info[i].hora_solicitud %>
                                </td>
                                <td>
                                    <%= info[i].NombreP %>
                                </td>
                                <td>
                                    <%= info[i].ApellidoP %>
                                </td>
                                <td>
                                    <%= info[i].sexo %>
                                </td>
                                <td>
                                    <%= info[i].Direccion %>-<%= info[i].Barrio %>
                                </td>
                                <td>
                                    <%= info[i].Correo %>
                                </td>
                                <td>
                                    <%= info[i].Celular %>
                                </td>
                                <td>
                                    <%= info[i].CelularOp %>
                                </td>
                                <td>
                                    <%= info[i].Telefono %>
                                </td>
                                <td>
                                    <%= info[i].fecha_nac %>
                                </td>
                                <td>
                                    <%= info[i].Tipo_documento %>
                                </td>
                                <td>
                                    <%= info[i].Municipio %>
                                </td>
                                <td>
                                    <%= info[i].CedulaP %>
                                </td>
                                <td>
                                    <%= info[i].Especialidad %>
                                </td>
                                <td>
                                    <%= info[i].Doctor %>
                                </td>
                                <td>
                                    <%= info[i].fecha %>
                                </td>
                                <td>
                                    <%= info[i].hora_ini %>
                                </td>
                                <td>
                                    <%= info[i].Cita %>
                                </td>
                                <td>
                                    <%= info[i].Afiliacion %>
                                </td>
                                <td>
                                    <%= info[i].entidad %>
                                </td>
                                <td>
                                    <%= info[i].Regimen %>
                                </td>
                                <td>
                                    <%= info[i].Modo %>
                                </td>
                                <td> <a href="#" class="btn btn-warning"
                                        onclick="window.open('<%= info[i].Orden %>', '_blank', 'fullscreen=yes'); return false;">
                                        <i class="far fa-file-pdf"></i>
                                    </a>

                                </td>
                                <td>
                                    <%= info[i].Autorizacion %>
                                </td>
                                <td>
                                    <%= info[i].Acompañante %>
                                </td>
                                <td> <% if (info[i].P1 == 'Sí' || info[i].P2 == 'Sí' || info[i].P3 == 'Sí' || info[i].P4 == 'Sí' || info[i].P5 == 'Sí' || info[i].P6 == 'Sí' || info[i].P7 == 'Sí' || info[i].P8 == 'Sí') { %>
                                    <div class="text-center mb-2">
                                        Indicios: <strong class="font-italic" style="color: red;">SÍ</strong> <br>                                                                              
                                        Patologías: <strong class="font-italic" style="color: red;"> <%= info[i].P9 %></strong>
                                    </div>
                                    <% } %>
                                    <% if (info[i].P1 == 'No' & info[i].P2 == 'No' & info[i].P3 == 'No' & info[i].P4 == 'No' & info[i].P5 == 'No' & info[i].P6 == 'No' & info[i].P7 == 'No' & info[i].P8 == 'No') { %>
                                        <div class="text-center mb-2">
                                            Indicios: <strong class="font-italic" style="color: red;">NO</strong> <br>                                                                              
                                            Patologías: <strong class="font-italic" style="color: red;"> <%= info[i].P9 %></strong>
                                        </div>
                                        <% } %>
                                </td>
                                <td>
                                    <a href="/consultar/<%= info[i].idpa %>" class="btn btn-info"><i class="fab fa-searchengin"></i></a>
                                </td>                              

                    </tr>
                    <% } %>
                        <% } %>
                </tbody>

            </table>

        </div>
    </div>

    <!--===== MAIN JS =====-->
    <script src="/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#conTable').DataTable({
                language: {
                    processing: "Búsqueda en curso...",
                    search: "Buscar:",
                    lengthMenu: "Mostrar _MENU_ registros",
                    info: "Página _PAGE_ de _PAGES_",
                    infoEmpty: "No hay registros disponibles",
                    infoFiltered: "(filtrado de _MAX_ elementos)",
                    zeroRecords: "No hay registros con este criterio de búsqueda",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    emptyTable: "La tabla aún no contiene registros",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "último"
                    },
                    aria: {
                        sortAscending: ": Ordenar de forma ascendente",
                        sortDescending: ": Ordenar de forma descendente"
                    }
                }
            });

        });
    </script>

</body>

</html>