<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== BOX ICONS ===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/css/styleuser.css">

    <!-- ===== BOOTSTRAP ===== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- ===== SWEETALERT2 ===== -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>

    <!-- ===== DATEPICKER ===== -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <title>Usuario</title>
</head>

<body id="body-pd">

    <header class="header" id="header">
        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>

        <div class="header__img">
            <img src="/images/HUN.jpg" alt="">
        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="https://www.uninorte.edu.co/web/hospital" class="nav__logo">
                    <i class='bx bx-layer nav__logo-icon'></i>
                    <span class="nav__logo-name">
                        Hospital<br>
                        Universidad del<br>
                        Norte
                    </span>
                </a>

                <div class="nav__list">
                    <a href="/consultarCitas" class="nav__link">
                        <i class='bx bx-folder nav__icon'></i>
                        <span class="nav__name">Citas aceptadas</span>
                    </a>
                </div>
            </div>
            <a href="#" onclick="logOut()" class="nav__link">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Cerrar sesión</span>
            </a>
        </nav>
    </div>

    <div class="container-flex">
        <div class="row px-3">
            <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
                <div class="card-body">
                    <form action="/updateC/<%= datos.idpa %>" method="POST">

                        <div class="text-center mb-2">
                            A continuación podrá modificar toda la información requerida para el agendamiento de su cita
                            médica
                        </div>
                        <hr class="my-4">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button"
                                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne" id="btnC1">
                                            INFORMACIÓN PERSONAL
                                        </button>
                                    </h2>
                                </div>

                                <div>
                                    <div class="card-body" id="collapse1">
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-input">
                                                    <label for="Name" class="form-label">Nombres del paciente</label>
                                                    <input type="text" class="form-control" id="Name" name="Name"
                                                        value="<%= datos.NombreP %>" readonly>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-input">
                                                    <label for="Lastname" class="form-label">Apellidos del
                                                        paciente</label>
                                                    <input type="text" class="form-control" id="Lastname"
                                                        name="Lastname" value="<%= datos.ApellidoP %>" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-input">
                                                    <label for="email" class="form-label">Correo electrónico</label>
                                                    <input type="email" class="form-control" id="email" name="email"
                                                        value="<%= datos.Correo %>" readonly>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-input">
                                                    <label for="Cedula" class="form-label">N° de identificación del
                                                        paciente</label>
                                                    <input type="number" class="form-control" id="Cedula" name="Cedula"
                                                        placeholder="Sin puntos ni comas ni guiones"
                                                        value="<%= datos.CedulaP %>" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo" id="btnC2">
                                            INFORMACIÓN MÉDICA
                                        </button>
                                    </h2>
                                </div>
                                <div>
                                    <div class="card-body" id="collapse2" style="display: none;">
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-input" style="margin-top: 20px;">
                                                    <select class="custom-select mt-2" style="margin-top: 20px;"
                                                        id="Cita" name="Cita">
                                                        <option value="<%= datos.Cita %>">
                                                            <%= datos.Cita %>
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-input" style="margin-top: 20px;">
                                                    <select class="custom-select mt-2" style="margin-right: 20px;"
                                                        id="Factura" name="Factura">
                                                        <option value="<%= datos.Afiliacion %>">
                                                            <%= datos.Afiliacion %>
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-12">
                                                <div class="form-input" id="div"
                                                    style="margin-top: 20px; display: none;">
                                                    <select class="custom-select mt-2" style="margin-top: 20px;"
                                                        id="Modo" name="Modo">
                                                        <option value="<%= datos.Modo %>">
                                                            <%= datos.Modo %>
                                                        </option>
                                                        <option value="Virtual">Virtual</option>
                                                        <option value="Presencial">Presencial</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-input" style="margin-top: 20px;">
                                                    <select class="custom-select mt-2" style="margin-right: 10px;"
                                                        id="opciones" name="opciones">
                                                        <option value="<%= datos.Especialidad %>">
                                                            <%= datos.Especialidad %>
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-input" style="margin-top: 20px; margin-bottom: 20px;">
                                                    <select class="custom-select mt-2" style="margin-right: 35px;"
                                                        id="Doctores" name="Doctores">
                                                        <option value="<%= datos.Doctor %>">
                                                            <%= datos.Doctor %>
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree" id="btnC3">
                                            AGENDA
                                        </button>
                                    </h2>
                                </div>
                                <div>
                                    <div class="card-body" id="collapse3" style="display: none;">
                                        <div id="hide">
                                            <div class="text-center mb-2">
                                                Horarios habituales del doctor.
                                            </div>
                                            <div class="w-100 d-none d-md-block"></div>


                                            <table class="table table-hover" id="tabla">
                                                <thead>
                                                    <tr>
                                                        <th>Disponibilidad</th>
                                                        <th>Rango de horas disponibles</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="myTable">
                                                </tbody>
                                            </table>

                                            <div class="w-100 d-none d-md-block"></div>
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-input" style="margin-top: 20px;">
                                                        <label for="fecha1" class="form-label">Fecha de la cita</label>
                                                        <input class="form-control" id="fecha1" name="fecha1"
                                                            autocomplete="off" onkeypress="return false"
                                                            value="">
                                                    </div>
                                                </div>

                                                <div class="col-12 col-sm-6" id="hide2">
                                                    <div class="form-input" style="margin-top: 20px;">
                                                        <label for="Horario" class="custom-label">Hora de la
                                                            cita</label>
                                                        <select class="custom-select" id="Horario" name="Horario">
                                                            <option value="0">
                                                                Seleccione hora
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree" id="btnC4">
                                            INFORMACIÓN ADICIONAL
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse4" style="display: none;">
                                    <div class="card-body">
                                        <div class="w-100 d-none d-md-block"></div>
                                        <div class="form-input" style="margin-top: 20px;">
                                            <label for="Orden" class="form-label">Orden médica </label>

                                            <a href="#"
                                                onclick="window.open('<%= datos.Orden %>', '_blank', 'fullscreen=yes'); return false;">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </div>                                        
                                        <div class="w-100 d-none d-md-block"></div>
                                        <div class="form-input" style="margin-top: 20px;">
                                            <label for="descripcion" class="form-label">Descripción</label>
                                            <textarea class="form-control" id="descripcion" name="descripcion"
                                                rows="2"><%= datos.Descripcion %></textarea>
                                        </div>
                                        <div class="w-100 d-none d-md-block"></div>
                                        <div class="form-input" style="margin-top: 20px;">
                                            <button type="submit" class="btn btn-primary"
                                                id="btnReagendar">Reagendar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> 
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"
        integrity="sha512-g2PN+aYR0KupTVwea5Ppqw4bxWLLypWdd+h7E0ydT8zF+/Y2Qpk8Y1SnzVw6ZCVJPrgB/91s3VfhVhP7Y4+ucw=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>


    
    <script>
        document.onload = loadFunctions();
        function loadFunctions() {
            consulta();
            consult();
        }

        var date = new Date();
        var year = date.getFullYear();
        console.log(year)

        if (year == '2021') {
            natDays = [[1, 1, 2021],
            [1, 11, 2021], [3, 22, 2021], [4, 1, 2021], [4, 2, 2021],
            [5, 1, 2021], [5, 17, 2021], [6, 7, 2021], [6, 14, 2021],
            [7, 5, 2021], [7, 20, 2021], [8, 7, 2021], [8, 16, 2021],
            [10, 18, 2021], [11, 1, 2021], [11, 15, 2021], [12, 8, 2021],
            [12, 25, 2021]
            ];
        } if (year == '2022') {
            natDays = [[1, 1, 2022],
            [1, 10, 2022], [3, 21, 2022], [4, 14, 2022], [4, 15, 2022],
            [5, 1, 2022], [5, 30, 2022], [6, 20, 2022], [6, 27, 2022],
            [7, 4, 2022], [7, 20, 2022], [8, 7, 2022], [8, 15, 2022],
            [10, 17, 2022], [11, 7, 2022], [11, 14, 2022], [12, 8, 2022],
            [12, 25, 2022]
            ];
        }

        function nationalDays(date) {
            for (i = 0; i < natDays.length; i++) {
                if (date.getMonth() == natDays[i][0] - 1 &&
                    date.getDate() == natDays[i][1]) {
                    return [false, natDays[i][2] + '_day'];
                }
            }           
            var day = date.getDay();
            return [(day != 0)];
        }

        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $("#fecha1").datepicker({
                dateFormat: 'mm-dd-yy',
                minDate: new Date(),
                maxDate: '+6m',
                monthNames: ['Enero', 'Febrero', 'Marzo',
                    'Abril', 'Mayo', 'Junio',
                    'Julio', 'Agosto', 'Septiembre',
                    'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                    'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                beforeShowDay: nationalDays,
                onSelect: async function (date) {
                    console.log(date)
                    var con1 = document.getElementById('fecha1').value;
                    var EspeDoc = document.getElementById('opciones').value;
                    var nameDoc = document.getElementById('Doctores').value;
                    const consulta2 = { con: con1, EspeDoc: EspeDoc, nameDoc: nameDoc, date: date };
                    const options2 = {
                        method: "POST",
                        body: JSON.stringify(consulta2),
                        headers: {
                            "Content-Type": "application/json"
                        }
                    };
                    var response2 = await fetch('/verifyUser', options2);
                    console.log(response2);
                    var hora = await response2.json();
                    console.log(hora);

                    select = document.getElementById('Horario');
                    $("#Horario").empty();
                    for (var i = 0; i < hora.length; i++) {
                        var opt = document.createElement('option');
                        opt.value = hora[i];
                        opt.innerHTML = hora[i];
                        select.add(opt);
                    }
                    $("#Horario").prepend('<option selected="true" value="0">Seleccione hora</option>');
                    return false;
                },
            })
        });


        $(document).ready(function () {
            $('#Cita').on('change', function () {

                if (this.value == 'Cita común (Especialista o médico general)') {
                    $("#div").show();
                }
                else {
                    $("#div").hide()
                }

            });
        });

        $('#btnC1').click(function () {
            $('#collapse1').toggle();
        });
        $('#btnC2').click(function () {
            $('#collapse2').toggle();
        });
        $('#btnC3').click(function () {
            $('#collapse3').toggle();
        });
        $('#btnC4').click(function () {
            $('#collapse4').toggle();
        });

        // $(document).ready(function () {
        //     $('#Doctores').on('click', function () {

        //         if (this.value !== '0') {
        //             $("#hide").show();
        //         }
        //         else {
        //             $("#hide").hide()
        //         }

        //     });
        // });

        // $(document).ready(function () {
        //     $('#btnConsultar').on('click', function () {

        //         if (this.value !== '0') {
        //             $("#hide2").show();
        //         }
        //         else {
        //             $("#hide2").hide()
        //         }

        //     });
        // });

        var hora = [];
        async function user() {
            var con1 = document.getElementById('btnConsultar').value;
            var EspeDoc = document.getElementById('opciones').value;
            var nameDoc = document.getElementById('Doctores').value;
            var date = document.getElementById('fecha1').value;
            const consulta2 = { con: con1, EspeDoc: EspeDoc, nameDoc: nameDoc, date: date };
            const options2 = {
                method: "POST",
                body: JSON.stringify(consulta2),
                headers: {
                    "Content-Type": "application/json"
                }
            };
            var response2 = await fetch('/verifyUser', options2);
            console.log(response2);
            hora = await response2.json();
            console.log(hora);

            select = document.getElementById('Horario');
            $("#Horario").empty();
            for (var i = 0; i < hora.length; i++) {
                var opt = document.createElement('option');
                opt.value = hora[i];
                opt.innerHTML = hora[i];
                select.add(opt);
            }
            $("#Horario").prepend('<option selected="true" value="0">Seleccione hora</option>');
            return false;
        }

        function validar() {
            //Se extre el formulario donde se encuentran contenidos los campos a través de su id
            var selectes = document.getElementById("opciones").value;//Se extrea cada elemento
            var selectdr = document.getElementById("Doctores").value;
            var ncedula = document.getElementById("Cedula").value;
            var fecha = document.getElementById("fecha").value;
            var fileo = document.getElementById("Cedula").files;


            if (ncedula.length == "0" || ncedula.length < "7") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Debe ingresar el número de identidad'
                })
                return false;
            }
            // if (selectes == "0") {
            //     Swal.fire({
            //         icon: 'error',
            //         title: 'Oops...',
            //         text: 'Debe seleccionar una especialidad'
            //     })
            //     return false;
            // }
            // if (fecha == "") {
            //     Swal.fire({
            //         icon: 'error',
            //         title: 'Oops...',
            //         text: 'Debe seleccionar una fecha'
            //     })
            //     return false;
            // }
        }

        var result = [];
        var result3 = [];
        async function consult() {
            var con1 = document.getElementById('Doctores').value;
            const consulta2 = { con: con1 };
            const options2 = {
                method: "POST",
                body: JSON.stringify(consulta2),
                headers: {
                    "Content-Type": "application/json"
                }
            };
            const response2 = await fetch('/datos', options2);
            console.log(response2)
            result = await response2.json();
            console.log(result)

            buildTable()


        }

        function buildTable() {
            vaciar();
            vacio();
            console.log(result)

            var table = document.getElementById('myTable');
            select = document.getElementById('Doctores');

            for (var i = 0; i < result.length; i++) {
                if (select.value == result[i].Doctor) {
                    var row = `<tr>
                            <td>                              
                                ${result[i].dia}                                
                            </td> 							
							<td>                              
                                ${result[i].hora_ini} - ${result[i].hora_fin}                                
                            </td>                                                          
					  </tr>`

                    table.innerHTML += row

                }
            }
        }



        function vaciarU() {
            document.getElementById('TableUser').innerHTML = '';
        }
        function vacioU() {
            document.getElementById('TableUser').innerHTML = '';
        }

        function vaciar() {
            document.getElementById('myTable').innerHTML = '';
        }
        function vacio() {
            document.getElementById('myTable').innerHTML = '';
        }


        //Se crea una función para que el nombre de los documentos cargados 
        //en los inputs de tipo file se muestren en la página, a través de si id
        $(document).ready(function () {
            $("#Orden").on('change', function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
            $("#Imagen").on('change', function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        });

        
    </script>
    <!--===== MAIN JS =====-->
    <script src="/js/main.js"></script>
</body>

</html>
